{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<!-- ====== Banner Section Start -->
<div class="relative z-10 overflow-hidden pb-[60px] pt-[120px] dark:bg-dark md:pt-[130px] lg:pt-[160px]">
    <div class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke to-stroke/0 dark:via-dark-3"></div>
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full px-4">
                <div class="text-center">
                    <h1 class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
                        This is the error message window
                    </h1>
                    <p class="mb-5 text-base text-body-color dark:text-dark-6">
                        Unfortunately, not everything in this world works perfectly. We will fix the bugs as soon as
                        possible so that you don't see this window again.
                        You can inform us about the nature of the error using the feedback form.
                    </p>

                    <ul class="flex items-center justify-center gap-[10px]">
                        <li>
                            <a href="javascript:void(0)"
                               class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white">
                                Contacts Us
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'app_main:root' %}"
                               class="flex items-center gap-[10px] text-base font-medium text-body-color">
                                <span class="text-body-color dark:text-dark-6"> / </span>
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====== Banner Section End -->

<!-- ====== 403 Section Start -->
<section class="bg-white py-20 dark:bg-dark-2 lg:py-[110px]">
    <div class="container mx-auto">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full px-4 md:w-5/12 lg:w-6/12">
                <div class="text-center">
                    <img
                            src="{% static 'app_main/images/errors/403.svg' %}"
                            alt="image"
                            class="max-w-full mx-auto"
                    />
                </div>
            </div>
            <div class="w-full px-4 md:w-7/12 lg:w-6/12 xl:w-5/12">
                <div>
                    <h3 class="mb-5 text-2xl font-semibold text-dark dark:text-white">
                        Access Denied.
                    </h3>
                    <p class="mb-8 text-base text-body-color dark:text-dark-6">
                        Oops! You don't have permission to access this page.
                        <span class="mb-2 block text-lg font-semibold text-primary">
                        Do not peep.
                        </span>
                    </p>
                    <a
                            href="{% url 'app_main:root' %}"
                            class="py-3 text-base font-medium text-white transition rounded-md bg-dark px-7 hover:bg-primary"
                    >
                        Go To Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== 403 Section End -->

{% endblock %}