{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<!-- ====== Privacy Policy Section Start -->
<section class="pb-8 pt-20 dark:bg-dark lg:pb-[70px] lg:pt-[120px]">
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
                    <h2
                            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
                    >
                        Our Privacy Policy
                    </h2>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">1. GENERAL PROVISIONS</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>1.1. This personal data processing policy is drawn up based on the Constitution of Ukraine
                            and the Law of Ukraine “On Personal Data Protection” dated 01.06.2010 No. 2297-VI
                            (hereinafter referred to as the Law), as well as the General Data Protection Regulation (EU)
                            2016/679 of 27.04.2016 (EU General Data Protection Regulation, hereinafter referred to as
                            the GDPR), and other applicable European data protection legislation, collectively referred
                            to as the Legislation. This policy determines the procedure for processing personal data and
                            measures to ensure the security of personal data carried out by <b>CloudyContacts</b>
                            (hereinafter referred to as the Operator).
                        </li>
                        <li>
                            1.2. The Operator sets as its important goal and condition for the implementation of its
                            activities the observance of human and civil rights and freedoms in the processing of
                            personal data, including the protection of the rights to privacy, and personal and family
                            secrets.
                        </li>
                        <li>
                            1.3. This Operator's policy on the processing of personal data (hereinafter referred to as
                            the Policy) applies to all information that the Operator may receive about visitors to the
                            <b>CloudyContacts</b> website.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">2. BASIC CONCEPTS USED IN THE POLICY</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            2.1. Automated processing of personal data - processing of personal data by means of
                            computer technology.
                        </li>
                        <li>
                            2.2. Blocking of personal data - temporary suspension of the processing of personal data
                            (unless the processing is necessary to clarify personal data).
                        </li>
                        <li>
                            2.3. Website - a set of graphic and informational materials, as well as computer programs
                            and databases, that ensure their availability on the Internet at the network address
                            <b>CloudyContacts</b>.
                        </li>
                        <li>
                            2.4. Personal data information system - a set of personal data contained in databases, as
                            well as information technologies and technical means that ensure their processing.
                        </li>
                        <li>
                            2.5. Depersonalization of personal data - actions as a result of which it is impossible to
                            determine, without the use of additional information, the ownership of personal data to a
                            particular User or other subject of personal data.
                        </li>
                        <li>
                            2.6. Processing of personal data - any action (operation) or set of actions (operations)
                            performed with the use of automation tools or without the use of such tools with personal
                            data, including collection, recording, systematization, accumulation, storage, clarification
                            (updating, changing), extraction, use, transfer (distribution, provision, access),
                            depersonalization, blocking, deletion, and destruction of personal data.
                        </li>
                        <li>
                            2.7. Operator - a state body, municipal body, legal entity, or individual who, independently
                            or jointly with other persons, organizes and (or) processes personal data, as well as
                            determines the purposes of processing personal data, the composition of personal data to be
                            processed, and actions (operations) performed with personal data.
                        </li>
                        <li>
                            2.8. Personal data - any information relating directly or indirectly to a specific or
                            identifiable User of the <b>CloudyContacts</b> website.
                        </li>
                        <li>
                            2.9. User - any visitor to the <b>CloudyContacts</b> website.
                        </li>
                        <li>
                            2.10. Provision of personal data - actions aimed at disclosing personal data to a certain
                            person or a certain circle of persons.
                        </li>
                        <li>
                            2.11. Dissemination of personal data - any actions aimed at disclosing personal data to an
                            indefinite number of persons (transfer of personal data) or familiarization with personal
                            data of an unlimited number of persons, including disclosure of personal data in the media,
                            placement in information and telecommunication networks, or providing access to personal
                            data in any other way.
                        </li>
                        <li>
                            2.12. Cross-border transfer of personal data - transfer of personal data to the territory of
                            a foreign state to a foreign government authority, foreign legal entity, or individual.
                        </li>
                        <li>
                            2.13. Destruction of personal data - any actions as a result of which personal data is
                            destroyed irrevocably with the impossibility of further restoring the content of personal
                            data in the personal data information system and (or) material carriers of personal data are
                            destroyed.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">3. BASIC CONCEPTS USED IN THE POLICY</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            3.1. First name, Last name.
                        </li>
                        <li>
                            3.2. Email address.
                        </li>
                        <li>
                            3.3. Phone numbers.
                        </li>
                        <li>
                            3.4. Photos.
                        </li>
                        <li>
                            3.5. Address of the actual place of residence and registration at the place of residence and
                            (or) at the place of stay.
                        </li>
                        <li>
                            3.6. The site also collects and processes anonymized data about visitors (including cookies)
                            using Internet statistics services.
                        </li>
                        <li>
                            3.7. The above data, hereinafter in the text of the Policy, are united by the general
                            concept of Personal Data.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">4. PURPOSES OF PERSONAL DATA
                        PROCESSING</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            4.1. The purpose of processing the User's personal data is to inform the User by sending
                            e-mails, and to conclude, execute, and terminate civil law contracts.
                        </li>
                        <li>
                            4.2. The Operator also has the right to send the User notifications about new products and
                            services, special offers, and various events. The User can always refuse to receive
                            informational messages by sending a letter to the Operator at the <b>CloudyContacts</b>
                            email
                            address marked "Refusal to receive notifications about new products and services and special
                            offers."
                        </li>
                        <li>
                            4.3. Anonymized user data collected through Internet statistics services is used to gather
                            information about user actions on the site and to improve the quality of the site and its
                            content.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">5. LEGAL GROUNDS FOR PROCESSING PERSONAL
                        DATA</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            5.1. The Operator processes the User's personal data only if it is filled in and/or sent by
                            the User independently through special forms located on the <b>CloudyContacts</b> website.
                            By
                            filling out the appropriate forms and/or sending their personal data to the Operator, the
                            User agrees to this policy.
                        </li>
                        <li>
                            5.2. The Operator processes anonymized data about the User if it is allowed in the settings
                            of the User's browser (saving cookies and using JavaScript technology is enabled).
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">6. PROCEDURE FOR COLLECTING, STORING,
                        TRANSFERRING, AND OTHER TYPES OF PROCESSING OF PERSONAL DATA</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            6.1. The security of personal data processed by the Operator is ensured through the
                            implementation of legal, organizational, and technical measures necessary to fully comply
                            with the requirements of the current legislation in the field of personal data protection.
                        </li>
                        <li>
                            6.2. The Operator ensures the safety of personal data and takes all possible measures to
                            exclude unauthorized access to personal data.
                        </li>
                        <li>
                            6.3. The User's personal data will never, under any circumstances, be transferred to third
                            parties, except in cases related to the implementation of applicable law.
                        </li>
                        <li>
                            6.4. In case of inaccuracies in personal data, the User can update them independently by
                            sending a notification to the Operator's email address at <b>CloudyContacts</b> marked
                            "Updating personal data."
                        </li>
                        <li>
                            6.5. The period of processing of personal data is unlimited. The User may at any time
                            withdraw their consent to the processing of personal data by sending a notification to the
                            Operator's email address at <b>CloudyContacts</b> marked "Revocation of consent to the
                            processing of personal data."
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            6.6. If you wish to delete your personal data from our application, please follow the
                            <a
                                    href="{% url 'app_main:delete_personal_data' %}"
                                    class="text-base font-medium text-dark hover:text-primary dark:text-white dark:hover:text-primary"
                            >
                                link
                            </a>.
                        </li>
                        {% endif %}
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">7. CROSS-BORDER TRANSFER OF PERSONAL
                        DATA</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            7.1. Before starting the cross-border transfer of personal data, the Operator is obliged to
                            ensure that the foreign state to whose territory the personal data is to be transferred
                            provides reliable protection of the rights of personal data subjects.
                        </li>
                        <li>
                            7.2. Cross-border transfer of personal data to foreign states that do not meet the above
                            requirements may be carried out only if there is a written consent of the personal data
                            subject to the cross-border transfer of their personal data and/or the execution of an
                            agreement to which the personal data subject is a party.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">8. FINAL PROVISIONS</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            8.1. The User may receive any clarifications on issues regarding the processing of their
                            personal data by contacting the Operator via email at <b>CloudyContacts</b> or through the
                            feedback form.
                        </li>
                        <li>
                            8.2. This document will reflect any changes to the personal data processing policy by the
                            Operator. The policy is valid indefinitely until replaced by a new version.
                        </li>
                        <li>
                            8.3. The current version of the Policy is freely available on the Internet at <b>CloudyContacts</b>.
                        </li>
                    </ul>
                    <br>
                    {% if user.is_authenticated %}
                    <br>
                    {% else %}
                    <a
                            href="{% url 'users:signin' %}"
                            class="inline-flex items-center justify-center rounded-md border border-primary bg-primary px-7 py-3 text-center text-base font-medium text-white hover:border-blue-dark hover:bg-blue-dark"
                    >
                        Sign In
                    </a>
                    <a
                            href="{% url 'users:signup' %}"
                            class="inline-flex items-center justify-center rounded-md border border-primary bg-primary px-7 py-3 text-center text-base font-medium text-white hover:border-blue-dark hover:bg-blue-dark"
                    >
                        Sign Up
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Privacy Policy Section End -->

{% endblock %}