{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<!-- ====== Terms of Use Section Start -->
<section class="pb-8 pt-20 dark:bg-dark lg:pb-[70px] lg:pt-[120px]">
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
                    <h2
                            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
                    >
                        TERMS OF USE
                    </h2>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">1. INTRODUCTION</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            1.1. Welcome to <b>CloudyContacts</b>. These Terms of Use (hereinafter referred to as the
                            "Terms") govern your use of our website and services. By accessing or using our website, you
                            agree to comply with and be bound by these Terms. If you do not agree with any part of these
                            Terms, you must not use our website.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">2. DEFINITIONS</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            2.1. "Website" refers to <b>CloudyContacts</b>.
                        </li>
                        <li>
                            2.2. "User" refers to any visitor or registered user of the Website.
                        </li>
                        <li>
                            2.3. "Operator" refers to <b>CloudyContacts</b> and its legal representatives.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">3. USE OF THE WEBSITE</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            3.1. Users must be at least 18 years old to use the Website. By using the Website, you
                            confirm that you are at least 18 years old.
                        </li>
                        <li>
                            3.2. Users agree to use the Website in compliance with all applicable laws and regulations.
                        </li>
                        <li>
                            3.3. Users are prohibited from using the Website for any unlawful or unauthorized purposes.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">4. USER ACCOUNTS</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            4.1. To access certain features of the Website, Users may be required to create an account.
                        </li>
                        <li>
                            4.2. Users are responsible for maintaining the confidentiality of their account information
                            and are fully responsible for all activities that occur under their account.
                        </li>
                        <li>
                            4.3. The Operator reserves the right to terminate accounts or refuse service at its sole
                            discretion.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">5. INTELLECTUAL PROPERTY</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            5.1. All content on the Website, including text, graphics, logos, images, and software, is
                            the property of the Operator or its content suppliers and is protected by international
                            copyright laws.
                        </li>
                        <li>
                            5.2. Users are granted a limited license to access and use the Website for personal use
                            only. Any unauthorized use of the Website’s content is strictly prohibited.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">6. LIMITATION OF LIABILITY</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            6.1. The Operator is not liable for any direct, indirect, incidental, or consequential
                            damages arising from the use or inability to use the Website.
                        </li>
                        <li>
                            6.2. The Website is provided on an "as is" and "as available" basis. The Operator makes no
                            warranties, expressed or implied, regarding the operation or availability of the Website.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">7. PRIVACY POLICY</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            7.1. The use of personal data provided by the User is governed by our Privacy Policy. By
                            using the Website, Users consent to the processing of their personal data as described in
                            the Privacy Policy.
                        </li>
                    </ul>
                    <br>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">8. AMENDMENTS TO THE TERMS</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            8.1. The Operator reserves the right to amend these Terms at any time. Users will be
                            notified of any changes through the Website or via email.
                        </li>
                        <li>
                            8.2. Continued use of the Website following any amendments constitutes acceptance of the new
                            Terms.
                        </li>
                    </ul>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">9. GOVERNING LAW</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            9.1. These Terms are governed by and construed in accordance with the laws of Ukraine. Any
                            disputes arising from these Terms or the use of the Website will be subject to the exclusive
                            jurisdiction of the courts of Ukraine.
                        </li>
                    </ul>
                    <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">10. CONTACT INFORMATION</h4>
                    <ul class="text-base text-body-color dark:text-dark-6"
                        style="text-align: justify; width: fit-content; block-size: fit-content;">
                        <li>
                            10.1. Users may contact the Operator with any questions or concerns regarding these Terms or
                            the Website by emailing <b>CloudyContacts</b> or using the feedback form available on the
                            Website.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Terms of Use Section End -->

{% endblock %}