{% extends 'app_main/base.html' %}

{% block intro %}
{% load static %}

<!-- ====== Banner Section Start -->
<div class="relative z-10 overflow-hidden pt-[120px] pb-[60px] md:pt-[130px] lg:pt-[160px] dark:bg-dark">
    <div class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke dark:via-dark-3 to-stroke/0">
    </div>
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full px-4">
                <div class="text-center">
                    <h1 class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
                        Add Contact
                    </h1>
                    <p class="mb-5 text-base text-body-color dark:text-dark-6">
                        Add the necessary information to your contact using the fields below.
                    </p>

                    <ul class="flex items-center justify-center gap-[10px]">
                        <li>
                            <a href="{% url 'app_contacts:contacts' %}"
                               class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white">
                                Contacts Page
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'app_main:root' %}"
                               class="flex items-center gap-[10px] text-base font-medium text-body-color">
                                <span class="text-body-color dark:text-dark-6"> / </span>
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====== Banner Section End -->

<!-- ====== Add Contact Section Start -->
<section id="pricing" class="relative z-20 overflow-hidden bg-white pb-12 pt-20 dark:bg-dark lg:pb-[90px] lg:pt-[120px]">
    <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="mx-auto mb-[60px] max-w-[510px] text-center">
                    <span class="mb-2 block text-lg font-semibold text-primary">
                        Add the necessary information to your contact using the fields below.
                    </span>
                    <p class="text-base text-body-color dark:text-dark-6">
                        Fields marked '*' are required.
                    </p>
                </div>
            </div>
        </div>
        <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
            {% if form.errors %}
            <div class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white" role="alert">
                Please correct the errors below.
            </div>
            {% endif %}
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white {{ message.tags }}" {% endif %}>
                {{ message }}
            </span>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url 'app_contacts:add_contact' %}">
            {% csrf_token %}
            <div class="-mx-4 flex flex-wrap justify-center">
                <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                    <div class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14">
                    <span class="mb-5 block text-xl font-medium text-dark dark:text-white">
                        General
                    </span>
                        <span class="text-base text-body-color dark:text-dark-6">Input Name:</span>
                        <div class="mb-[22px]">
                            {{ form.name }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.name }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Input Surname:</span>
                        <div class="mb-[22px]">
                            {{ form.surname }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.surname }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Input Email:</span>
                        <div class="mb-[22px]">
                            {{ form.email }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.email }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Input Birthday:</span>
                        <div class="mb-[22px]">
                            <input type="text" class="w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" placeholder="dd/mm/YYYY" name="birthdate"/>
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.birthdate }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="-mx-4 flex flex-wrap justify-center">
                <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                    <div class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14">
                    <span class="mb-5 block text-xl font-medium text-dark dark:text-white">
                        Phones
                    </span>
                        <span class="text-base text-body-color dark:text-dark-6">Mobile:</span>
                        <div class="mb-[22px]">
                            {{ form.mobile_phone }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.mobile_phone }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Work:</span>
                        <div class="mb-[22px]">
                            {{ form.work_phone }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.work_phone }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Home:</span>
                        <div class="mb-[22px]">
                            {{ form.home_phone }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.home_phone }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="-mx-4 flex flex-wrap justify-center">
                <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                    <div class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14">
                    <span class="mb-5 block text-xl font-medium text-dark dark:text-white">
                        Socials
                    </span>
                        <span class="text-base text-body-color dark:text-dark-6">Facebook:</span>
                        <div class="mb-[22px]">
                            {{ form.facebook }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.facebook }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Instagram:</span>
                        <div class="mb-[22px]">
                            {{ form.instagram }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.instagram }}</span>
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Tiktok:</span>
                        <div class="mb-[22px]">
                            {{ form.tiktok }}
                            <span class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white">{{ form.errors.tiktok }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="-mx-4 flex flex-wrap justify-center">
                <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                    <div class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14">
                    <span class="mb-5 block text-xl font-medium text-dark dark:text-white">
                        Address
                    </span>
                        <span class="text-base text-body-color dark:text-dark-6">Country:</span>
                        <div class="mb-[22px]">
                            <input type="text"
                                   class="w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none"
                                   placeholder="Ukraine" name="country">
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">City:</span>
                        <div class="mb-[22px]">
                            <input type="text"
                                   class="w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none"
                                   placeholder="Kyiv" name="city">
                        </div>
                        <span class="text-base text-body-color dark:text-dark-6">Street & ap.:</span>
                        <div class="mb-[22px]">
                            <input type="text"
                                   class="w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none"
                                   placeholder="Maidan Nezalezhnosti" name="address">
                        </div>
                    </div>
                </div>
            </div>

            <div class="-mx-4 flex flex-wrap justify-center">
                <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                    <div class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white px-8 py-10 shadow-pricing dark:bg-dark-2 sm:p-12 lg:px-6 lg:py-10 xl:p-14">
                        <span class="mb-5 block text-xl font-medium text-dark dark:text-white">
                            Is this contact a favorite?
                        </span>
                        <ul class="flex items-center justify-center gap-[10px]">
                            <li>
                                <input id="is_favorite" type="checkbox" name="is_favorite" class="custom-checkbox">
                            </li>
                            <li>
                                <label class="text-base text-body-color dark:text-dark-6" for="is_favorite">Check if Yes</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
                <input type="submit" value="Save"
                       class="inline-flex items-center justify-center rounded-md border border-primary bg-primary px-7 py-3 text-center text-base font-medium text-white hover:border-blue-dark hover:bg-blue-dark"/>
                <button type="reset" class="inline-flex items-center justify-center rounded-md border border-primary bg-primary px-7 py-3 text-center text-base font-medium text-white hover:border-blue-dark hover:bg-blue-dark">
                    <a href="{% url 'app_contacts:add_contact' %}">Reset</a>
                </button>
            </div>
        </form>



    </div>
</section>
<!-- ====== Add Contact Section End -->

{% endblock %}